# Ignore build output
build/
dist/
*.log

# Ignore Node.js dependencies
node_modules/

# Ignore environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore sensitive information
*.pem
*.key
*.cert
*.password
*.env
*.env.*
!*.env.example

# Ignore editor files
.vscode/
*.idea/
*.DS_Store

# Ignore test coverage reports
coverage/






# Laravel-specific files
.env
.env.*
composer.lock
vendor/

# Laravel log files
storage/logs/*.log
storage/logs/*.txt
storage/logs/*.xml
storage/logs/*.sql

# Laravel cache and session files
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Laravel user upload files
storage/app/public/

# Other temporary files
.DS_Store
Thumbs.db
